.bgimg {
  width: 100%;
  height: 50%;
  background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.tittle {
  margin-top: 50px;
  color: white;
  width: 500px;
  height: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.content {
  color: white;
  width: 500px;
  height: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.button {
  font-weight: bold;
  color: white;
  width: 300px;
  height: 20px;
  border: 1px solid red;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button:hover {
  background-color: rgb(218, 85, 85);
}
.download {
  color: white;
  text-decoration: none;
}
